* {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}

html {
     font-family: "Roboto", sans-serif;
     box-sizing: inherit;
     text-transform: uppercase;
     font-weight: 600;
     box-sizing: border-box;
}

.header {
     width: 100%;
     height: 76px;
     top: 0;
     left: 0;
     right: 0;
     background-color: #8ec5f0;
     position: fixed;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-weight: 600;
     z-index: 1;
}

.header__nav {
     display: flex;
     justify-content: space-between;
     margin-left: 32px;
     align-items: center;
}
.header__logo,
.header__nav-list--item-link {
     text-decoration: none;
}
.header__logo-img {
     width: 30px;
}
.header__nav-list {
     list-style: none;
     font-weight: 600;
     display: flex;
     padding-left: 1em;
}
.header__nav-list--item {
     padding-left: 1em;
     color: white;
}
.header__nav-list--item::after {
     content: " ";
     display: block;
     height: 3px;
     background-color: #55aecc;
     margin-top: 2px;
     transform: scale(0);
     transition: all 0.5s;
}
.header__nav-list--item:hover::after {
     transform: scale(1);
}
.header__options-link {
     text-decoration: none;
}
.sign {
     display: flex;
     list-style: none;
}
.header__options-text {
     color: white;
     padding: 0 1.5em;
}
.separate {
     border-left: 1px solid white;
}
/* .language {
} */

#home {
     margin-top: 76px;
     overflow: hidden;
     width: inherit;
     align-items: center;
     position: relative;
}
.home-image-item {
     padding-top: 100%;
     background-repeat: no-repeat;
     background-size: 100% 45%;
}

.home-image {
     width: 100%;
     position: relative;
     display: block;
     align-items: flex-start;
     max-height: 665px;
}

.button-set {
     display: flex;
     position: absolute;
     left: 50%;
     bottom: 5%;
     transform: translateX(-50%);
}
.btn-radio {
     width: 15px;
     height: 15px;
     border: solid rgb(20, 83, 201) 2px;
     border-radius: 50%;
     transition: 0.5s;
     margin: 0 1rem;
}

.first-team {
     position: relative;
     width: 66.667%;
     margin: auto;
}

.first-team__header {
     margin: 2em 0;
     font-size: 30px;
     margin-left: -3em;
     border-bottom: 1px solid blue;
     width: 180px;
}

.position-name {
     font-size: 1.25em;
     font-weight: bold;
     border-bottom: 1px solid rgb(216, 216, 216);
}

.sub-position {
     display: flex;
     justify-content: space-evenly;
}

.sub-position-btn {
     width: 200px;
     height: 200px;
     margin: 1em;
     border-radius: 10px;
     overflow: hidden;
     position: relative;
     cursor: pointer;
}
.sub-position-btn:hover .sub-position-img {
     transform: scale(1.1);
}
.sub-position-btn:hover .sub-position-number::after {
     width: 50%;
}
.sub-position-img {
     height: inherit;
     transition: 1s;
}

.sub-position-info {
     position: absolute;
     bottom: 10%;
     left: 10%;
     color: rgb(231 239 255 / 2);
}
.sub-position-number {
     font-size: 10px;
}
.sub-position-number::after {
     display: block;
     content: " ";
     height: 3px;
     width: 10px;
     background-color: #37b3ff;
     transition: 1s;
}
.sub-position-name {
     font-size: 20px;
     width: 60%;
}

.manager-visual {
     width: inherit;
     display: flex;
     justify-content: center;
     padding-top: 3rem;
     background-color: #3f3f3f;
}
.manager-visual-items {
     color: white;
     flex-basis: 20%;
}
.visual-text {
     display: flex;
     flex-direction: column;
}
.visual-role {
     font-size: 1.9em;
     margin-bottom: 80px;
}
.visual-role::after {
     display: block;
     content: " ";
     height: 3px;
     width: 150px;
     background-color: #38aee2;
}
.visual-name {
     font-size: 1.6em;
}
.visual-img {
     width: inherit;
     align-self: flex-end;
}

.visual-statics {
     display: flex;
     flex-direction: column;
}

.match {
     margin-bottom: 2em;
}

.win {
     margin-bottom: 2em;
}

.manager-info {
     width: 66.667%;
     margin: 3em auto;
     color: black;
}

.manager-info-bio {
     border-bottom: 1px solid gray;
}

.bio-title {
     color: gray;
}

.bio-text {
     text-transform: none;
}

.manager-info-bio p {
     margin: 12px 0;
}

.manager-info-shortcut {
     display: flex;
     justify-content: space-evenly;
     text-transform: capitalize;
}

.sub-items {
     margin: 12px 0 32px 0;
}

.shortcut-items-title {
     font-size: 0.75em;
     color: gray;
     padding-bottom: 18px;
}

.shortcut-items-date {
     font-size: 1.5em;
     color: red;
}

.shortcut-items-country {
     display: flex;
     align-items: center;
}
.spain {
     width: 30px;
     padding-right: 5px;
}

.legends {
     background-color: #3f3f3f;
}

.legends-title {
     color: white;
     position: relative;
     margin-left: 130px;
     top: 30px;
     font-size: 1.9em;
     padding-bottom: 30px;
}
.legends-title::after {
     display: block;
     content: "";
     background-color: #37b3ff;
     height: 2px;
     width: 144px;
     position: absolute;
}
.legends-sub-button {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
}

.legends-btn {
     position: relative;
     height: 200px;
     width: 200px;
     margin: 30px;
     border-radius: 10px;
     overflow: hidden;
     cursor: pointer;
}
.legends-btn:hover .btn-image {
     transform: scale(1.1);
}
.legends-btn:hover .btn-name::before {
     width: 100%;
}
.btn-image {
     width: 100%;
     transition: 1s;
}
.btn-name {
     position: absolute;
     font-weight: bold;
     font-size: 20px;
     width: 50%;
     z-index: 1;
     bottom: 0;
     left: 10%;
     color: rgb(231 239 255 / 2);
}

.btn-name::before {
     display: block;
     content: " ";
     height: 2px;
     background-color: #37b3ff;
     width: 50%;
     transition: 1s;
}
.legends-btn::after {
     content: " ";
     display: block;
     width: 200px;
     height: 55px;
     background-color: rgba(0, 0, 0, 0.3);
     backdrop-filter: blur(2px);
     position: absolute;
     bottom: 0;
}

.footer {
     display: flex;
     justify-content: space-between;
     position: relative;
     bottom: -50px;
}

.sponsor {
     display: flex;
     align-items: center;
}

.sponsor-img {
     width: 100px;
     margin: 0 20px;
     opacity: 0.5;
}
.contact {
     display: flex;
     align-items: center;
}
.contact-items {
     position: relative;
     margin: 0 20px;
     font-size: 20px;
     font-weight: bold;
     border: 3px solid black;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     transition: 0.7s;
}

.fa-facebook-f:before {
     content: "\f39e";
}

.contact-items i {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}
.contact-items:hover {
     cursor: pointer;
     background-color: black;
     color: white;
}
